<html xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template = "../layouts/commonLayout.xhtml">
		<ui:define name = "windowTitle">
			JSF Form Page
		</ui:define>
    	<ui:define name = "content">
   			<div align="center"> 
				<p>Please enter a user name or password that is authorized to access this
			        application. For this application, this means a user that has been
			        created in the <code>file</code> realm and has been assigned to the
			    <em>group</em> of <code>GcuUser</code>.</p>
			    <p><a href="TestResponse.xhtml">Return to Login</a></p>		
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>