<html xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template = "../layouts/commonLayout.xhtml">
		<ui:define name = "windowTitle">
			JSF Form Page
		</ui:define>
    	<ui:define name = "content">
   			<div align="center"> 
				<form  method="post" action="j_security_check">
					Username: <h:inputText id="j_username" autocomplete="off" /><br/>
					Password: <h:inputSecret id="j_password" autocomplete="off" /><br/>
					<h:commandButton type="submit" value="Submit" />
				</form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>