<html 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template = "layouts/commonLayout.xhtml">
		<ui:define name = "windowTitle">
			JSF Response Page
		</ui:define>
    	<ui:define name = "content">
    		<h2>Hello #{user.firstName}</h2>
    		<h:form>
    			<h:commandButton action="#{formController.onLogoff()}" value="Log Out" />
    		</h:form>
    		<h:dataTable
    			value="#{formController.orders}"
    			var="order"
    			styleClass="order"
    			headerClass="order-header"
    			rowClasses="order-row-even,order-row-odd">
    			<h:column>
    				<f:facet name="header">Id</f:facet>
    				#{order.id}
    			</h:column>
    			<h:column>
    				<f:facet name="header">Order No</f:facet>
    				#{order.orderNo}
    			</h:column>
    			<h:column>
    				<f:facet name="header">
    					<div class="left">Name</div>
    				</f:facet>
    				<div class="left">#{order.productName}</div>
    			</h:column>
    			<h:column>
    				<f:facet name="header">Quanity</f:facet>
    				#{order.quantity}
    			</h:column>
    			<h:column>
    				<f:facet name="header">Price</f:facet>
    				#{order.price}
    			</h:column>
    		</h:dataTable>
    		<h:form>
    			<h:commandButton action="#{formController.onSendOrder()}" value="Send Order" />
    		</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>