<html xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template = "layouts/commonLayout.xhtml">
		<ui:define name = "windowTitle">
			JSF Response Page
		</ui:define>
    	<ui:define name = "content">
    		<h:form>
	   			<p>
					#{user.firstName}, your order was processed!
				</p>
				<h:commandButton action="#{formController.goToStore()}" value="Back to store" />
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>