<html xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template = "layouts/commonLayout.xhtml">
		<ui:define name = "windowTitle">
			JSF Response Page
		</ui:define>
    	<ui:define name = "content">
   			<p>
				First Name: #{flash.user.firstName}<br />
				Last Name: #{flash.user.lastName}<br />
			</p>
		</ui:define>
	</ui:composition>
</h:body>
</html>