<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets">
 
  <h:head>
    <title>
      <ui:insert name="windowTitle">
        JSF - Stuff
      </ui:insert>
    </title> 
    <h:outputStylesheet library="css" name="main.css"/>
  </h:head>
   
  <h:body>       
    <div class="header">
      	<ui:insert name="header">
          	<ui:include src="commonHeader.xhtml" />
        </ui:insert>
    </div>
    
    <div class="content">
      	<ui:insert name="content">
          	<ui:include src="commonContent.xhtml" />
        </ui:insert>
    </div>
    
    <div class="footer">
      	<ui:insert name="footer">
          	<ui:include src="commonFooter.xhtml" />
        </ui:insert>
    </div> 
  </h:body> 
</html>