<html xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition>
		<h5>&#169;Copyright Grand Canyon University</h5>
	</ui:composition>
</h:body>
</html>