body {
	padding: 0;
	margin: 0;
}

.header {
	border-bottom: 1px solid #222;
	text-align: center;
}

.content {
	margin-top: 24px;
	padding: 8px;
}

.footer {
	border-top: 1px solid #222;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
}

.order {
	border-collapse: collapse;
	border: 1px solid #222;
	min-width: 50%;
	padding: 4px;
}

.order-header {
	background-color: #777;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.order-row-odd {
	background-color: #fff;
	text-align: center;
}

.order-row-even {
	background-color: #ccc;
	text-align: center;
}

.order-row-even:hover, .order-row-odd:hover {
	background-color: #999;
	color: #fff;
}

.left {
	text-align: left;
}
 